
            p{
                padding:3px;
                margin:3px;
                font-size:auto;
            }
            #bas{
                padding:3px;
                margin:3px;
            }
            #icl{
                background-color:cadetblue;
                margin-top: 7px;
                width:200px;
                text-align: center;
                padding: 20px;
            }
            .cont{
                height:200px;
                background-color:cadetblue;
                color: aliceblue;
                margin-left: 5px;
                margin-top: 5px;
                text-align: center;
            }
             .anailetisim {
                background-color:darkgray;
                border: 6px solid grey;
                padding: 70px 0 0px 0;
                color:#fff;
            }
            .anailetisim h2{
                font:300 30px,sans-serif;
            }
            .anailetisim .iletisimform input{
                font:300 16px,sans-serif;
                padding:12px 18px;
                border-radius: 8px;
            }
            .anailetisim .iletisimform select{
                background: #fff;
                color:#ccc;
                font:300 16px,sans-serif;
                padding:12px 18px;
                border-radius: 8px;
            }
            .anailetisim .iletisimbilgi table td{
                vertical-align: top;
                color:#fff;
                font-weight: 300;
                padding:0 12px 40px 12px;
            }
            footer{
                margin-bottom: 0px;
                bottom:0px;
            }